pw for mongoDB = wWQUrA2UtzttLtw8 username = anakuzmin2
mongodb+srv://anakuzmin2:wWQUrA2UtzttLtw8@cluster0.aadgagm.mongodb.net/

what vercel had for environmental variables
//mongodb+srv://vercel-admin-user:oaHn1ZjlteWzMy5O@cluster0.aadgagm.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
Gn9pjeBHiSRf2haJV3PhBskjv9m8wb4uFiYyvM6cFU17Ao43RCz9OBaMGk9Viv4Z